<div class="score">
    <div class="btn-score">
        <button type="button" routerLink="/accueil">Accueil</button>
        <button type="button" (click)="clearScore()">Effacer les scores</button>
    </div>
    <div class="panel_score">        
        <h4>Tableau des scores</h4>
        <table class="table table-bordered table-striped table-sm">           
            <thead>
                <tr>
                    <th>Joueur</th>
                    <th>Score</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let joueur of listeJoueurs">
                    <td>{{joueur.joueur}}</td>
                    <td>{{joueur.score}}</td>
                    <td>{{joueur.date | date: 'medium'}}</td>
                    <td><a (click)="delete(joueur.joueur)">X</a></td>
                </tr>      
            </tbody>
          </table>
        <div *ngIf="listeJoueurs == null">
            <span>Aucun Score</span>
        </div>             
    </div>
</div>