<div class="question">
    <h2>Question {{nbQuest}} </h2>
    <div class="panel_question">
        <label for="quest">{{quest}}</label>
        <div class="reponse">
            <a *ngFor="let reponse of reponses" (click)="Repondre(reponse.id)">{{reponse.reponse}}</a>            
        </div>
    </div>    
</div>

