<button type="button" routerLink="/accueil">Accueil</button>


<div *ngIf="next" class="jeu">
    <H1>QuizzLand</H1>
    <div class="joueur">
        <span>Joueur : {{nameJoueur}}</span>
        <span>Score : {{score}}</span>
    </div>
    <div class="panel_jeu">
        <app-question 
            (sendRequestResponse)="CheckReponse($event)" 
            question="{{nextQuestion}}" 
            nbQuest="{{nbQuestion}}">
        </app-question>        
    </div>    
</div>
<div *ngIf="afficherScore" class="panel_result">
    <H1>QuizzLand</H1>   
    <div>
        <span>Vous avez {{score}} bonne réponse</span>
    </div>
    <div class="btn_result">
        <button type="button" routerLink="/score">Aller au score</button>
    </div>
</div>

