body {
    background-image: url("assets/carte.jpg");
    background-repeat: no-repeat;
}
a {
    cursor: pointer;
}
.accueil h1 {
    margin: 1em 1em;
    color: white;
    width: 24em;
    text-align: center;
}
.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin: 0 auto;
    color: black;
}
.jeu, .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin: 0 auto;
    color: black;
    background-color: #ffffff91;
}
.panel_accueil, .panel_jeu, .panel_question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30em;
    width: 30em;
    align-items: center;
}
.info_joueur {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 2em;
}
.info_joueur > label {
    margin: 1em 1em;
}
.info_joueur > * {    
    font-size: 24px;
}
.btn_accueil {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 2em;
    width: 20em;
}
.btn_accueil > button {
    font-size: 24px;
}
input::placeholder {
    padding: 0.5em 0.5em;
    text-align: center;
}
.panel_question > label {
    font-size: 28px;
    text-align: center;
}
.panel_question .reponse {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    width: 100%;
}
.panel_question > .reponse > a {
    margin: 1em 1em;
    text-align: center;
    padding: 1em 1em;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20% 20%;
}
.joueur {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    width: 20em;
    font-size: 26px;
}
.panel_score {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40em;
    padding: 2em 2em;
    color: black;
    background-color: #ffffff91;
}
.panel_score > table {
    font-size: 20px;
}
.panel_score > div {
    text-align: center;
    font-size: 24px;
}
.panel_score > div > div {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    font-size: 25px;
}
.btn-score {
    display: flex;
    justify-content: space-evenly;
    width: 30em;
    padding: 1em 2em;
}
.panel_result {
    display: flex;
    height: 30em;
    flex-direction: column;
    align-items: center;
    color: white;
}
.panel_result > * {
    margin: 1em 1em;
}
.panel_result > div > span {
    font-size: 20px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    margin: 0 auto;
    color: black;
}