<div class="accueil">
    <H1>Bienvenue à QuizzzzzzLand</H1>
    <div class="panel_accueil">
        <div class="info_joueur">
            <input 
                [(ngModel)]="nameJoueur" 
                type="text"  
                maxlength="20"                
                placeholder="Saisir votre nom...">
        </div>
        <div class="btn_accueil">
            <button type="button" (click)="Launch(nameJoueur)">JOUER</button>
            <button type="button" routerLink="/score">SCORE</button>
        </div>
    </div>    
</div>

